@import url("https://fonts.googleapis.com/css2?family=poppins:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
 box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: yellow;
}

.wrapper {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: rgb(250, 156, 172);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

i {
font-size: 7.5em;
color: #f7de02;
border: 5px solid transparent;
outline: 3px solid #f7de02;
border-radius: 50%;
}

h2 {
    font-size: 3em;
    color: #fae41b;
    margin: 15px;
}

.btn-group {
width: 100%;
height: 40px;
display: flex;
justify-content: center;
margin-top: 15px;
}

button{
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    color: aliceblue;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #fae41b;
    outline: none;
    cursor:pointer ;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}

button:nth-child(1){
    margin-left: -200px;
    background: #f7de02;
}

button:nth-child(2){
    margin-right: -200px;
    background: #fafaf9;
    color: #f7de02;
}